
canvas {
  display: block;
  position: relative;
  border: 1px solid;    
}
img {
  position: absolute;
  left: 0;
  top: 0;
}
.user_name_max {
  max-width: none !important;
  white-space: unset !important;
}
.signature-pad {
  text-align: center; 
  border:1px solid #e2e2e2; 
  display: block; 
  margin: 10px auto;
}
.center {
  text-align: center;
}
