i[data-name='qr-code']{
    position:relative;
    bottom:31px;
}
hr{
    border-top: 1px solid #ddd;
}
.colors>li{
    width:15px;
    height:15px;
    padding:2px;
    border:1px solid #fff;
}
.bg-primary{
    background-color: #418BCA !important;
}
.bg-success{
    background-color: #01bc8c !important;
}
.bg-warning{
    background-color: #F89A14 !important;
}
.bg-danger{
    background-color: #EF6F6C !important;
}
.bg-info{
    background-color: #67C5DF!important;
}
.bg-default{
    background-color: #eee !important;
    color:#333;
}





@page {
  size: A4;
  margin: 0;
}


@media print
{
      body * {
        visibility: hidden;
      }
      
      .btn-section  { display : none; visibility : hidden; }
      .panel-heading { display : none; visibility : hidden; }
      
      #invoice-notice {
          background-color: #418BCA !important;
      }
      
      #printSection, #printSection * {
        visibility:visible;
      }

      .btn { display : none; visibility : hidden; }
}
.btn_marTop{
    margin-top:10px;
}

@media (max-width:320px) {
       .colors_right{
        float:none !important;
    }
    .colors{
        margin-top:10px;
        margin-left:0px !important;
    }

}
