@import url(https://fonts.googleapis.com/css?family=Lato);
body {
/*    background: url('../../images/{env("DOMAINCODE")}/gis-logo/back.png');
    background-color: #444;*/
/*    background: url(../../img/parallax/pinlayer2.png), url(../../img/parallax/pinlayer1.png), url(../../img/parallax/back.png);
*/    font-family: 'lato';
background-size: 100%;
}

.vertical-offset-100 {
    padding-top: 100px;
}

label{
    color:#000 !important;
    font-weight: 100;
}

h3 {
    font-size: 22px ! important;
}

.btn-primary {
    background: #428BCA;
}
.alert-success {
    color: #fff;
    background-color: #22ddad !important;
    border-color: #acf6ac !important;
}
.alert-danger {
    color: #fff;
    background-color: #ff908d !important;
    border-color: #EF6F6C !important;
}
.alert-info {
    color: #fff;
    background-color: #67C5DF !important;
    border-color: #67C5DF !important;
}
.alert-warning {
    color: #fff;
    background-color: #F89A14 !important;
    border-color: #F89A14 !important;
}
.dhh-logo {
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.bg-logo {
    height: 140px;
}
.bg-logo img{
    width: 107px;
}
.login-bg {
/*    background: #ffffffba;
*/}