textarea.form-control {
    height: 50px !important;
}
/*.meter_on {
    display: none;
}*/
.button-left {
    padding-left: 0;
}
.meter_save {
    font-size: 14px;
}
.meter_success {
    text-align: center;
    color: #01bc8c;
    font-size: 15px;
    font-weight: bold;
}
.meter_assign {
    margin-top: 15px;
}
.tab-bg {
    background: #418bca !important;
}
.tab-bg-inner {
    background: #d5dde8  !important;
}
.tab-bg-inner li a {
    color: #000 !important;
}
.tab-bg-inner > li.active > a {
    color: #418bca !important;
    background: #fff !important;
}
.tab-bg>li>a {
    color: #fff !important;
}
.tab-bg > li.active > a {
    color: #418bca !important;
    background: #fff !important;
}
.nav>li>a:focus, .nav>li>a:hover {
    color: #418bca !important;
}
.view-detail {
    color: #bf5b14;
    font-weight: bold;
    font-size: 17px;
}
.view-edit {
    margin: 7px 7px 5px 0;
    background: #f1f1f1;
    color: #418bca;
    border-color: #f1f1f1;
}
.view-edit:hover {
    color: #fff;
    background-color: #A9B6B1 !important;
    border-color: #A9B6B1 !important;
}
.meter_no {
    font-size: 25px;
}
.meter_status_con {
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}

.meter_status_dis {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}

.meter_status_connect {
    height: 12px;
    width: 12px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}

.meter_status_disconnect {
    height: 12px;
    width: 12px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}

.view-detail-label {
    font-size: 16px;
    font-weight: 500;
/*    text-align: right;
    border-left: 3px solid #dddddd;
    background: #e4e4e42e;
    padding: 0 0 5px 0;*/
}
.meter_typeIcon {
    height: 30px;
    width: 30px;
    margin-top: -10px;
    margin-left: 10px;
}
.img-file img{
    width: 75%;
    float: right;
}
.view_detail_name {
    font-size: 30px;
    font-weight: bold;
    color: #101010;
    /*padding: 7px 0px;*/
}
.meter-detail {
    margin-bottom: 15px;
}
.view-detail i {
    font-size: 23px;
    color: #014191;
    margin-right: 20px;
}
.customer-detail {
    margin-bottom: 15px;
}
.customer_group {
    font-size: 20px;
}
.customer_group_icon img {
    padding-top: 5px;
    width: 85%;
}
.view-detail-balance {
    color: #bf5b14;
    font-weight: bold;
    font-size: 17px;
}
.marginTop {
    margin: 0% 0 1% 0;
    padding: 0;
}
.outstanding_amount {
    font-weight: bold;
    font-size: 17px;
    color: #c9302c;
    text-align: right;
}
.customer-outstanding-amount {
    font-weight: bold;
    font-size: 17px;
    color: #c9302c;
}
.salesInvoice {
    margin-bottom: 15px;
}
.text-right {
    float: none;
    font-size: 15px;
}
.amount {
    font-size: 15px;
    font-weight: bold;
}
.tax-amount {
    font-size: 15px;
    font-weight: bold;
    width: 45%;
}
.info-circle {
    color: #418bca;
    font-size: 15px;
}
.wave_off_hide {
    display: none;
    background: #dddddd52;
    padding-top: 17px;
}
.wave_off_show {
    display: block;
    background: #dddddd52;
    padding-top: 17px;
}
.paynow {
    display: flex;
    margin-top: 15px;
}
input.party-name {
    border: unset;
    width: 95%;
}
input.party-name:focus {
    outline-offset: unset !important;
    outline: unset !important;
}
.paynow_btn {
    margin-right: 15px;
}
.livicon_top i{
    top: 3.453125px;
    overflow: hidden;
    position: relative;
    left: -0.46875px;
}
.create-invoice-amount tbody tr td {
    border-top: unset;
}
.grand_total {
    font-size: 18px;
    color: #418bca;
    border-bottom: 1px solid #418bca36;
    font-weight: bold;
    box-shadow: 0px 4px #ececec61;
}
.invoice_outstanding_amount {
    font-weight: bold;
    font-size: 17px;
    color: #c9302c;
    border-bottom: 1px solid #418bca36;
    box-shadow: 0px 4px #ececec61;
}
a#delete-item i {
    font-size: 20px;
    color: #f56954;
    margin: 0 15px;
}
.salesInvoice_Item td input {
    border: unset;
    background: unset;
    width: 100%;
}
.invoice-total-amount {
    display: none;
}
.amount input{
    border: unset;
    background: unset;
    width: 100%;
}
.tax-amount input{
    border: unset;
    background: unset;
}
.amount input:focus {
    outline-offset: unset !important;
    outline: unset !important;  
}
.tax-amount input:focus {
    outline-offset: unset !important;
    outline: unset !important;  
}
.paymentAction {
    display: none;
    width: 61px;
}
#open-invoices_filter {
    text-align:  left;
}
.error {
    color:red;
    font-weight: bold;
}
.two-btns {
    margin-right: 12px;
}

.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )url('../admin/spinner.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .loading-modal {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loading-modal {
    display: block;
}
.skin-josh .logo {
    background-color: #ffffff;
}
.customer-amount {
    margin-top: 10px;
}
.customer-advance {
    margin-top: 10px;
    color: green;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
    margin-top: unset !important;
}
.metersName {
    background: unset;
    border: unset;
}
.metersName:focus {
    outline-offset: unset;
    outline: unset;
}
.skin-josh .navbar {
    background: #909090; 
}
.riot {
    padding: 19px 25px 0px 45px;
}
.riot:hover {
    color: #fff !important;
}
.empty-result {
    font-weight: bold;
    font-size: 17px;
    color: #000;
    text-align: center;
}
.close {
    color: #fff !important;
    opacity: unset;
}
body > .header .logo {
    height: 55px;
}
body > .header .navbar {
    height: 55px;
}
body > .header .navbar .sidebar-toggle { 
    margin: 10px 0 10px 5px;;
}
.navbar-right .nav > li > a {
    padding: 11px 7px;
}
.panel-margin {
    margin: 5px 0;
}
.dashboard-btm {
    margin-bottom: unset !important;
}
.table-scroll {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table-scroll table thead {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}   

.tax-heading {
    font-size: 16px;
    color: #418bca;
    font-weight: bold;
}
.invoice-right {
    text-align: right;
}
.invoice-tax {
    text-align: left;
}
.prepaid {
/*    display: table-row !important;*/
    color: green;
}
.btm-border {
    border-bottom: 1px dotted #418bca;
    margin: 10px 0 25px 0;
}
/*.buttonload {
  background-color: #4CAF50; 
  border: none; 
  color: white; 
  padding: 12px 24px;
  font-size: 16px; 
}
.fa {
  margin-left: -12px;
  margin-right: 8px;
}*/
.select2-container--bootstrap {
    width: 100% !important;
}

.amend-right {
    text-align: left;
}
input.amend-tax {
    border: unset;
    background: unset;
    width: 100%;
}
input.amend-tax:focus {
    outline-offset: unset !important;
    outline: unset !important;
}
.invoice-status-con {
    height: 8px;
    width: 8px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.invoice-status-dis {
    height: 8px;
    width: 8px;
    background-color: red;
    border-radius: 50%;
    display: inline-block !important;
    margin-right: 5px;
}

.popover_wrapper {
    position: relative;
    display: inline-block;
}
.popover_content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -180px;
    top: 50%;
    background-color: #fff;
    width: auto;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    line-break: auto;
}
.popover_content:after {
    position: absolute;
    z-index: -1;
    content: '';
    top: 8px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #fff;
}
.popover_wrapper:hover .popover_content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0,-20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover_title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}
.popover_message {
    padding: 1.5rem;
    text-align: left;
}
.paddingleft_right15 {
    margin-bottom: 4%;
}

.leftbtnsearch{

     margin-right: 15px;
} 

.text-capital {
    text-transform: capitalize;
}

.field-align {
    display: flex;
}
.field-align label {
    margin-right: 15px;
}

.smart-loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )url('../admin/spinner.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .smart-loading-modal {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .smart-loading-modal {
    display: block;
}

.audit-scroll {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.delete-reading {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 1.67em;
}
.role-label {
    margin-top: 1.5%;
}
.checkbox-inline {
    margin-right: 5px;
    margin-left: 15px;
}
.map-checker {
    font-size: 15px; 
    padding: 1% 0;
}

#map {
    height: 250px;  
    width: 100%;
}
.gm-svpc {
    display: none !important;
}
.ui-widget-header {
    background: #cedc98;
    border: 1px solid #DDDDDD;
    color: #333333;
    font-weight: bold;
 }
table.meterreading-table  {
    width:100%;
}
.meterreading-table {
    display: table;
    height: 100px;
    width: 100%;
    table-layout: fixed;
}
.meterreading-table table tr td{
    border:1px solid red
}
.meterreading-table tbody {
    display:block;
    max-height:300px;
    overflow:auto;
}
.meterreading-table thead tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
/*.meterreading-table thead {
    width: calc( 100% - 1em )
}*/
#meter-reading-table_filter {
    float: right;
}
#progressbar {
    color: #f89a15;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin: 0 15%;
}
textarea.supplier-details {
    height: unset !important;
}
.blackbg>.panel-heading {
    background: #8d1919 !important;
}
/*.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #8d1919;
    border-color: #191212;
}*/
table#audittabledetails {
    font-size: 12px;
}
.skin-josh .sidebar li a:hover {
    color: #fff;
}
/*.skin-josh .sidebar li a:focus, .skin-josh .sidebar li a:active {
    color: #fff !important;
}*/
.skin-josh .sidebar ul.sub-menu li a:hover {
    color: #8d1919 !important;
}
.skin-josh .sidebar ul.sub-menu li a:active {
    color: #ffffff !important;
}
