.nav-bg {
	background:#f2f2f2;
	padding: 10px;
}
body {
	font-size: 16px !important;
    font-family: "Poppins", sans-serif;
}
.customer-name {
    font-size: 27px;
    font-weight: bold;
}
.merchant-name {
    font-size: 22px;
    font-weight: bold;
}
.chart-title {
	margin-right: unset !important;
}
.verify-mobile {
	margin-right: 10px;
}
.value-text {
    margin-left: 10px;
}
.label-text {
    font-weight: 500;
}
.customer-img {
    vertical-align: initial;  
}
.img-width {
    width: 25px;
    float: left;
}
.customer-title {
	font-weight: bold;
    color: #000;
}
.merchant-title {
	font-weight: bold;
    color: #000;
}
.btn {
    font-size: 13px;
}
.btn i {
	font-size: 14px;
}
.merchant-icon img {
    width: 100%;
}
.mdi {
	font-size: 18px;
/*    width: 25px;*/
}
.verified-tick {
	color: #58db83;
}
.table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > td {
    padding: 10px 12px;
}
.mini-stat-icon-mod i {
    font-size: 52px !important;
    width: 90px !important;
    height: 90px !important;
    line-height: 90px !important;
}
.text-center {
    text-align: center;
}
.Paid {
    height: 13px;
    width: 13px;
    background-color: #58db83;
    border-radius: 50%;
    margin-right: 4%;
}
.Unpaid {
    height: 13px;
    width: 13px;
    background-color: #ec536c;
    border-radius: 50%;
    margin-right: 4%;
}
.Cancelled {
    height: 13px;
    width: 13px;
    background-color: #f5b225;
    border-radius: 50%;
    margin-right: 4%;
}
.badge:empty {
    display: inline-block !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: unset !important;
}
a {
  color: #600634;
}
a:hover {
    text-decoration: underline; 
}
.card-view {
    height: 135px;
}
.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )url('../img/loading1.gif') 50% 50% no-repeat;
}
body.loading .loading-modal {
    overflow: hidden;
}
body.loading .loading-modal {
    display: block;
}
.alert {
    margin-bottom: 1%;
}
.line-break {
    border-bottom: 3px dashed #f2f2f2;
}
.wizard-title {
    font-weight: bold;
    color: #7a6fbe;
}
body#loader .loading-modal {
    overflow: hidden;
}
body#loader .loading-modal {
    display: block;
}
.amount {
    text-align: right;
}
.PAID {
    height: 13px;
    width: 13px;
    background-color: #58db83;
    border-radius: 50%;
    margin-right: 4%;
}
.UNPAID {
    height: 13px;
    width: 13px;
    background-color: #ec536c;
    border-radius: 50%;
    margin-right: 4%;
}
.CANCELLED {
    height: 13px;
    width: 13px;
    background-color: #f5b225;
    border-radius: 50%;
    margin-right: 4%;
}
.notification-scroll {
    height:500px;
    overflow-y:scroll;
}
.card-icon {
    color: #58db83;
    font-size: 22px;
    margin-left: 10px;
}
.card {
    position: relative;
}
.card-no {
    position: absolute;
    margin: -31% 10% 20% 10%;
    color: #fff;
    font-size: 22px;
    font-family: "credit card";
    z-index: 100;
    letter-spacing:2px;
}
.issue-date {
    position: absolute;
    margin: -22% 0% 20% 45%;
    color: #fff;
    font-size: 22px;
    z-index: 100;
    letter-spacing: 2px;

}
.expiry-date {
    position: absolute;
    margin: -22% 0% 20% 72%;
    color: #fff;
    font-size: 22px;
    z-index: 100;
    letter-spacing: 2px;
}
.carousel-inner {
     overflow: unset; 
}
.two-icons {
    margin-right: 5px;
}
.bank-link {
    font-size: 18px;
    font-weight: bold;
    color: #ec536c;
}
.no-result {
    font-size: 18px;
    font-weight: bold;
}
.skin-josh .navbar {
    background-color: #fff;
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}   
.skin-josh .logo {
    background-color: #fff;
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}
.skin-josh .left-side {
    background: #fff;
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    border-right: none;
}
.skin-josh .sidebar .page-sidebar-menu > li {
    border-bottom: 1px solid #7a6fbe2e;
}
.skin-josh .sidebar .page-sidebar-menu > li:hover {
    background: #818f8e;
    border-bottom: 1px solid rgba(54, 60, 70, 0.5);
}
.skin-josh .sidebar .page-sidebar-menu > li:hover a {
    color: #fff;
}
.skin-josh .sidebar li ul {
    background: #818f8e;
    border-top: 0.08em solid #f5f5f5;
}
body > .header .navbar .sidebar-toggle {
    background-color: #fff;
}
.left-side .active {
    background: #818f8e !important;
}
.left-side .active a{
    color: #fff !important;
}
.skin-josh .sidebar a {
    color: #818f8e;
    font-family: Lato, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}
.sidebar-nav {
    background : #fff;
    box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.append-input.input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.append-input.input-group-append {
    margin-left: -1px;
}
.append-input .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.append-input > .input-group-prepend > .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.append-input .input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.7rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.dataTables_filter {
    float: right;
}
.dataTables_paginate  {
    float: right;
}
.delete-icon {
    color: #f56954;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
}
.panel-success > .panel-heading {
    color: #fff;
    background-color: #818f8e;
    border-color: #818f8e;
}
.text-right {
    text-align: right;
}
.balance-value {
    color: green;
}
.margin-top {
    margin-top: 27px;
}
.table-bordered {
    border: 1px solid #ddd;
}
.hospital-radio {
    width: 20px;
    height: 20px;
}
.custom-radio {
    width: 20px;
    height: 20px;
}
.policy-no {
    background: #29bbe3;
    color: #fff;
}
.policy-title {
    font-size: 20px;
    color: #7a6fbe;
    font-weight: bold;
}
.claim-radio .radio-inline {
    color: #7a6fbe;
    font-weight: bold;
    font-size: 20px;
}
.claim-radio .radio-inline .radio-label {
    margin-left: 10px;
}

.table-borderless > tbody > tr > td, .table-borderless > tfoot > tr > td, .table > thead > tr > td{
    padding: 15px 12px;
}
.receipt-align{
    padding-left: 47px;
}


body > .header .logo {
    padding: 0px; 
}
.riot {
    color: #600634;
}
.paddingleft_right15 {
    padding: 15px;
}
.top-menu li a {
    color: #600634;
}
.navbar-right .nav > li > a:hover {
    background-color: #818f8e;
}
.navbar-right .nav > li > a:hover .riot {
    color: #ffffff;
}
.left-side li a {
    font-size: 13px;
}
.widget-2 {
    height: 145px;
}
.square_box .header_text2 {
    margin: 0px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #818f8e;
}
.widget-1 {
    background-color: #f5f5f5;
    height: 50px;
}
.daterangefilter {
    background: #fff;
    cursor: pointer;
    line-height: 38px;
    padding: 5px 10px;
}
.two-btns {
    margin-right: 10px;
}
.user-delete {
    color: #df2727;
}
.user-edit {
    color: #2196f3;
}
.line-business-img {
    margin: 0 auto;
    display: block;
}
.success-msg {
    color: green;
}
.error-msg {
    color: #df2727;
}
tbody .blueRow{
    color: #600634;
}
.input-group-append {
    display: table-cell;
}
.input-group-append {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.input-group-append {
    width: 9%;
    white-space: nowrap;
    vertical-align: middle;
}
.user-eye {
    color: #3ab7cb;
}
.no-padding {
    padding: 0;
}
.download-icon {
    font-size: 18px;
}
.h4-font h4 {
    font-weight: unset;
}
.h4-font {
    font-weight: 100;
}
.success-circle {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.error-circle {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block !important;
    margin-right: 5px;
}
.warning-circle {
    height: 15px;
    width: 15px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block !important;
    margin-right: 5px;
}
/*.claim-tab .nav-tabs>li {
    border: 2px solid #7a6fbe;
    margin: 0 10px;
    border-radius: 7px;
}
.claim-tab .nav-tabs {
    padding-bottom: 1%;
}
.claim-tab .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #7a6fbe;
}
.claim-tab .nav-tabs>li>a {
    margin-right: unset;
    border-radius: 7px;
    padding: 5px 10px;
}*/
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    background: #818f8e !important;
}
.claim-header {
    color: #600634;
    font-weight: 700;
}
.icon-size {
    font-size: 21px;
}
.policy-borderless > tbody > tr > td, .table-borderless > tfoot > tr > td, .table > thead > tr > td {
    padding: 8px 0;
    font-weight: 400;
}
.value-bold {
    font-weight: 700 !important;
}
.gross-premium {
    border-top: 2px dashed #ddd !important; 
    border-bottom: 2px dashed #ddd !important;
}

.detailed-invoice td {
    font-weight: 100 !important;
}
.gross-premium td{
    font-size: 22px;
    font-weight: 700 !important;
}
.claim-tab .nav-tabs>li.active>a, .claim-tab .nav-tabs>li.active>a:focus, .claim-tab .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.claim-status-text {
    font-size: 20px;
}
.open p.user_name_max {
    color: #fff;
}
#customer-table_filter label {
    font-weight: bold;
}
.text-title {
    color: #7a6fbe;
    font-weight: bold;
    text-align: center;
}
.text-upper {
    text-transform: uppercase;
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: unset;
}
.checkbox-inline {
    margin-right: 20px;
    margin-left: unset !important;
}
.modal-header .close {
    color: #fff;
    opacity: unset;
}
.custom-checkbox {
    width: 16px;
    height: 16px;
}