
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Poppins", sans-serif !important;
    font-weight: 500;
    line-height: 1.1;
}

.stepwizard-step p {
    margin-top: 0px;
    color:#666;
}
/*.stepwizard-row {
    display: table-row;
}*/
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/    
}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#fff;
}
.stepwizard-row:before {
    top: 30px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    width: 1%;
}
.btn-circle {
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 4.3 !important;
    border-radius: 50px !important;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
    background-color: #58db83;
    border-color: #57ff8e;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}
.btn:hover, .btn:focus {
    color: #333;
    text-decoration: none;
}
.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-image: none;
}



.preview-images-zone {
    width: 100%;
    border: 1px solid #ddd;
    min-height: 180px;
    /* display: flex; */
    padding: 5px 5px 0px 5px;
    position: relative;
    overflow:auto;
}
.preview-images-zone > .preview-image:first-child {
/*    height: 185px;
    width: 185px;*/
    position: relative;
    margin-right: 5px;
}
.preview-images-zone > .preview-image {
/*    height: 90px;
    width: 90px;*/
    position: relative;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}
.preview-images-zone > .preview-image > .image-zone {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .image-zone > img {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .tools-edit-image {
    position: absolute;
    z-index: 100;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}
.preview-images-zone > .preview-image > .image-cancel {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.preview-image:hover > .image-zone {
    cursor: move;
    opacity: .5;
}
.preview-image:hover > .tools-edit-image,
.preview-image:hover > .image-cancel {
    display: block;
}
.ui-sortable-helper {
    width: 90px !important;
    height: 90px !important;
}
a.btn i {
    font-size: 28px !important;
}
.id-display-image img{
    height: 150px;
}
.error-msg {
    color: red;
    padding-bottom: 10px;
    display: block;
    font-weight: bold;
}
.success-msg {
    color: green;
    padding-bottom: 10px;
    display: block;
    font-weight: bold;
}


.add-new {
    font-weight: bold;
}
.add-new i {
    margin-right: 4px;
}
table.table-pricing {
    table-layout: fixed;
}
table.table-pricing tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table-pricing th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table-pricing th:last-child {
    width: 100px;
}
table.table-pricing td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table-pricing td a.add {
    color: #27C46B;
}
table.table-pricing td a.edit {
    color: #FFC107;
}
table.table-pricing td a.delete {
    color: #E34724;
}
table.table-pricing td i {
    font-size: 15px;
}
table.table-pricing td a.add i {
    font-size: 18px;
    position: relative;
    top: 1px;
} 
table.table-pricing .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table-pricing .form-control.error {
    border-color: #f50000;
}
table.table-pricing td .add {
    display: none;
}
/* sme */
.sme-add-new {
    font-weight: bold;
}
.sme-add-new i {
    margin-right: 4px;
}
table.table-pricing td a.sme-add {
    color: #27C46B;
}

table.table-pricing td a.sme-edit {
    color: #FFC107;
}
table.table-pricing td a.sme-delete {
    color: #E34724;
}
table.table-pricing td a.sme-add i {
    font-size: 18px;
    position: relative;
    top: 1px;
}  
table.table-pricing td .sme-add {
    display: none;
}





/* medical */
.medical-add-new {
    font-weight: bold;
}
.medical-add-new i {
    margin-right: 4px;
}
table.table-pricing td a.medical-add {
    color: #27C46B;
}
table.table-pricing td a.medical-edit {
    color: #FFC107;
}
table.table-pricing td a.medical-delete {
    color: #E34724;
}
table.table-pricing td a.medical-add i {
    font-size: 18px;
    position: relative;
    top: 1px;
}  
table.table-pricing td .medical-add {
    display: none;
}


/*sme-outpatient*/

.sme-add-outpataient_new {
    font-weight: bold;
}
.sme-add-outpataient_new i {
    margin-right: 4px;
}
table.table-pricing td a.outpatient-add {
    color: #27C46B;
}
table.table-pricing td a.outpatient-edit {
    color: #FFC107;
}
table.table-pricing td a.outpatient-delete {
    color: #E34724;
}
table.table-pricing td a.outpatient-add i {
    font-size: 18px;
    position: relative;
    top: 1px;
}  
table.table-pricing td .outpatient-add {
    display: none;
}
